{% extends "layout/base.html" %}
{% block content %}
<div class="main">
  <div class="container">
    <ul class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="">Vé</a></li>
        <li class="active">Bán vé</li>
    </ul>
    <!-- BEGIN SIDEBAR & CONTENT -->
    <div class="row margin-bottom-40">
      <!-- BEGIN SIDEBAR -->
      <div class="sidebar col-md-3 col-sm-5">
        <ul class="list-group margin-bottom-25 sidebar-menu">
          <li class="list-group-item clearfix"><a href="/"><i class="fa fa-plane"></i>Tra cứu chuyến bay</a></li>
          <li class="list-group-item clearfix"><a href="/"><i class="fa fa-user"></i>Tra cứu khách hàng</a></li>
        </ul>
      </div>
      <!-- END SIDEBAR -->

      <!-- BEGIN CONTENT -->

      <div class="col-md-6 col-sm-7 ">
        {%if mess=='success'%}
        <div class="alert alert-success mess" role="alert">
          {{contentMess}}
        </div>
        {%elif mess=='error' %}
        <div class="alert alert-danger mess" role="alert">
            {{contentMess}}
        </div>
        {%endif%}
        <h1>Thông tin khách hàng</h1>         
        <div class="content-form-page">
          <form action="/ban-ve/{{chuyenBay.id}}/{{hangVe}}/{{number_kh}}" method="post" enctype="multipart/form-data" class="form-horizontal form-without-legend">
            {%for i in range(1,number_kh+1)%}
            <br>
            {%if i==1%}
            <div class = "alert alert-success">
                Khách hàng chính
             </div>
            {%else%}
              <div class = "alert alert-success">
                Khách hàng phụ thứ {{i-1}}
              </div>
            {%endif%}
            <div class="form-group">
              <label class="col-lg-2 control-label" for="first-name">Họ & Tên <span class="require">*</span></label>
              <div class="col-lg-8">
                <input type="text" id="HoTenKH" name = "HoTenKH{{i}}" class="form-control text-dark" required>
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-2 control-label" for="NamSinh">Năm Sinh <span class="require">*</span></label>
              <div class="col-lg-8">
                <input type="number" id="namsinh" name = "NamSinh{{i}}" class="form-control text-dark" required>
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-2 control-label" for="last-name">Giới Tính <span class="require">*</span></label>
              <div class="col-lg-8">
                <label>
                  <input type="radio" class="form-check-input" name = "GioiTinh{{i}}" value="Nam"> Nam
                </label>
                <label>
                  <input type="radio" class="form-check-input" name="GioiTinh{{i}}" value="Nu"> Nữ 
                </label>
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-2 control-label" for="email">E-Mail <span class="require">*</span></label>
              <div class="col-lg-8">
                <input type="email" id="Email" name = "Email{{i}}" class="form-control text-dark" required>
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-2 control-label" for="telephone">SĐT<span class="require">*</span></label>
              <div class="col-lg-8">
                <input type="text" id="SDT" name="SDT{{i}}" class="form-control text-dark" required>
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-2 control-label" for="fax">CMND<span class="require">*</span></label>
              <div class="col-lg-8">
                <input type="text" id="CMND" name = "CMND{{i}}" class="form-control text-dark" required>
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-2 control-label">Hình ảnh</label>
              <div class="col-lg-8">
                <input type="file" id = "HinhAnh{{i}}" name="HinhAnh{{i}}">
              </div>
            </div>  
            {%endfor%}
          <button type="submit" class="btn btn-primary">Lưu</button>
          </form>
        </div>
      </div>
      <!-- END CONTENT -->
      <div class="col-md-3 col-sm-5 ">

        <h2>Thông tin vé</h2>
        <ul class="blog-info">
          <li class="display-4" style="font-size: larger;"><i class="fa fa-plane"></i>
            <span style="font-weight: bold;"> Chuyến bay: </span>
             {{ chuyenBay.id }}</li>
          <li class="display-4" style="font-size: larger;"><i class="fa fa-calendar"></i>
            <span style="font-weight: bold;"> Thời gian bay: </span>
            {{ chuyenBay.ThoiGianXuatPhat }}</li>
          <li class="display-4" style="font-size: larger;">
            <i class="fa fa-map-marker"></i>
            <span style="font-weight: bold;"> Sân bay đi:</span> {{ chuyenBay.sanbay_di.DiaChi }}
          </li>
          <li class="display-4" style="font-size: larger;"><i class="fa fa-map-marker"></i>
            <span style="font-weight: bold;"> Sân bay đến: </span>
            {{ chuyenBay.sanbay_den.DiaChi }}</li>
          <li class="display-4" style="font-size: larger;"><i class="fa fa-comments"></i>
            <span style="font-weight: bold;">  Hạng vé: </span>
           {{ hangVe}}</li>
          <li class="display-4" style="font-size: larger;"><i class="fa fa-tags"></i>
            <span style="font-weight: bold;">  Số lượng vé: </span>
             {{number_kh}}</li>
          </ul>
      </div>


    </div>
    <!-- END SIDEBAR & CONTENT -->
  </div>
  <script>
    var mess= document.getElementsByClassName('mess')
    if(mess.length!=0){
      var mess_ele = mess[0]
      setTimeout(()=>{
        mess_ele.remove()
      },3000)
    }
  </script>
</div>

{% endblock %}
  