{% extends "layout/base.html" %}
{% block content %}
<div class="main">
  <div class="container">
  <ul class="breadcrumb">
      <li><a href="/">Home</a></li>
      <li class="active">Chuyến Bay</li>
  </ul>
  <!-- BEGIN SIDEBAR & CONTENT -->
  <div class="row margin-bottom-40">
      
      <!-- BEGIN CONTENT -->
      <div class="col-md-12 col-sm-12">
      <h1>Danh Sách Chuyến Bay</h1>
      <div class="content-page">
          <div class="row">
            <div class="col-md-12 col-sm-12">
                <h3 class = "text-center">Tìm Kiếm Chuyến Bay</h3>
                <form role="form" class="form-horizontal form-without-legend">
                    <div class="form-group col-md-3">
                        <select class="form-control input-sm" name = "noidi">
                          <option> --- Chọn nơi đi --- </option>
                          {% for s in sanbay %}
                          <option>{{ s.DiaChi }}</option>
                          {% endfor %}
                        </select>
                    </div>
                    <div class="form-group col-md-3">
                        <select name = "noiden" class="form-control input-sm">
                            <option> --- Chọn nơi đến --- </option>
                            {% for s in sanbay %}
                            <option>{{ s.DiaChi }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group col-md-5">
                        <label class="col-lg-4 control-label padding-left-0 padding-right-0">Thời Gian Xuất Phát: </label>
                        <div class="col-lg-8">
                            <input type="datetime-local" id="time" name = "time" class="form-control" required>
                        </div>
                    </div>
                        <button class="btn btn-primary" type="submit">Tìm Kiếm</button>
                        <a  href="/" type="reset" class="btn btn-default">Nhập Lại</a>
                </form>
            </div>

          <!-- BEGIN LEFT SIDEBAR -->            
        <div class="col-md-9 col-sm-9 blog-posts">
            {% if not flights %}
        <div class="alert alert-info">
            Không có chuyến bay nào!!!
        </div>
            {% endif %}
            {% for f in flights %}
              <hr class="blog-post-sep">
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <img class="img-responsive" alt="" src="/static/images/ChuyenBay.jpg">
                </div>
                <div class="col-md-8 col-sm-8">
                    <h2><a href="" onclick="this.href='/dat-ve-online?hangve='
                        +document.getElementById('mySelect').value+
                        '&soluong='+document.getElementById('soluong').value+
                        '&idchuyenbay={{ f.id }}'">Chuyến bay từ {{ f.sanbay_di.DiaChi }} đến {{ f.sanbay_den.DiaChi }}</a></h2>
                    <ul class="blog-info">
                    <li><i class="fa fa-calendar"></i> {{ f.ThoiGianXuatPhat }}</li>
                    <li><i class="fa fa-comments"></i> {{ f.ThoiGianBay }} phút</li>
                    <li><i class="fa fa-tags"></i> {{ f.maybay.Ten }}</li>
                    </ul>
                    <p>Đi từ sân bay {{ f.sanbay_di.TenSB}} đến sân bay {{ f.sanbay_den.TenSB}} </p> 
                    {% for v in f.banggia %}
                    {% if v.HangVe == "Thường" %}
                        <p>| Giá chỉ từ {{ v.GiaVe }} VND</p>
                    {% endif %}
                    {% endfor %}
                    <div class="row">
                        <div class="col-md-4">
                            <input type="number" name="soluong" id="soluong" class="form-control" placeholder="Nhập số lượng vé">
                        </div>
                        <div class="col-md-5 padding-left-0">
                            <select class="form-control" id="mySelect">
                                <option>------Chọn một hạng vé------</option>
                                {% for v in f.banggia %}
                                <option>{{v.HangVe}}</option>
                              {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-2 padding-left-0">
                           <a href="" onclick="this.href='/dat-ve-online?hangve='
                           +document.getElementById('mySelect').value+
                           '&soluong='+document.getElementById('soluong').value+
                           '&idchuyenbay={{ f.id }}'"><button type="button" class="btn btn-primary">Đặt Vé</button></a>
                        </div>
                    </div>
                    
                    
                </div>
            </div>
              <hr class="blog-post-sep">
            {% endfor %}

              <ul class="pagination">
                {% if index>1 %}
                    <li><a href="/?page={{index-1}}">Trước</a></li>
                {% endif %}
            {% for i in range(1, page_num+1) %}           
              <li><a href="/?page={{i}}">{{i}}</a></li>
            {% endfor %}
            {% if page_num>index %}
                <li><a href="/?page={{index+1}}">Sau</a></li>
            {% endif %}
              </ul>               
          </div>
          

          <!-- BEGIN RIGHT SIDEBAR -->       
          <div class="col-md-3 col-sm-3 blog-sidebar">
                <br></br>       
              <!-- CATEGORIES START -->
              <h2 class="no-top-space">Các chuyến bay theo sân bay đi</h2>
              <ul class="nav sidebar-categories margin-bottom-40">
                {% for s in sanbay%}
                <li><a href="/?san-bay={{ s.id }}">{{ s.DiaChi }}: 2</a></li>
                {% endfor %}
              </ul>
              <!-- CATEGORIES END -->

                                      

              <!-- BEGIN BLOG TALKS -->
              <div class="blog-talks margin-bottom-30">
              <h2>Quy Định</h2>
              <div class="tab-style-1">
                  <ul class="nav nav-tabs">
                  <li class="active"><a data-toggle="tab" href="#tab-1">Đặt Vé</a></li>
                  <li><a data-toggle="tab" href="#tab-2">Chuyến Bay</a></li>
                  </ul>
                  <div class="tab-content">
                  <div id="tab-1" class="tab-pane row-fluid fade in active">
                    {% for q in quy_dinh %}
                        {% if q.QuyDinh == 'TGDatVeTreNhat' %}
                            <p class="margin-bottom-10">Thời Gian Đặt Vé Trễ Nhất : {{ q.NoiDung }}</p>
                        {% elif q.QuyDinh == 'TGHuyVeTreNhat' %}
                            <p class="margin-bottom-10">Thời Gian Hủy Vé Trễ Nhất : {{ q.NoiDung }}</p>
                        {% else %}
                            <p class="margin-bottom-10">Quy định khác...</p>
                        {% endif %}
                    {% endfor %}
                  </div>

                  <div id="tab-2" class="tab-pane fade">
                    {% if current_user.VaiTro != "K" %}
                        {% for q in quy_dinh %}
                            {% if q.QuyDinh == 'SoLuongSanBay' %}
                                <p class="margin-bottom-10">Số lượng sân bay : {{ q.NoiDung }}</p>
                            {% elif q.QuyDinh == 'TGBayToiThieu' %}
                                <p class="margin-bottom-10">Thời Gian Bay Tối Thiểu : {{ q.NoiDung }}</p>
                            {% elif q.QuyDinh == 'SanBayTGToiDa' %}
                                <p class="margin-bottom-10">Sân Bay Trung Gian Tối Đa : {{ q.NoiDung }}</p>
                            {% elif q.QuyDinh == 'TGDungToiThieu' %}
                                <p class="margin-bottom-10">Thời Gian Dừng Tối Thiểu : {{ q.NoiDung }}</p>
                            {% elif q.QuyDinh == 'TGDungToiDa' %}
                                <p class="margin-bottom-10">Thời Gian Dừng Tối Đa : {{ q.NoiDung }}</p>
                            {% else %}
                                <p class="margin-bottom-10">Quy đinh khác...</p>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                  </div>
                  </div>
              </div>
              </div>                            
              <!-- END BLOG TALKS -->

              <!-- BEGIN BLOG PHOTOS STREAM -->
              <!-- <div class="blog-photo-stream margin-bottom-20">
              <h2>Photos Stream</h2>
              <ul class="list-unstyled">
                  <li><a href="#"><img alt="" src="{{ url_for('static', filename = 'styles/assets/frontend/pages/img/people/img5-small.jpg') }}"></a></li>
              </ul>                    
              </div> -->
              <!-- END BLOG PHOTOS STREAM -->

              <!-- BEGIN BLOG TAGS -->
              <div class="blog-tags margin-bottom-20">
              <h2>Tags</h2>
              <ul>
                  <li><a href=""><i class="fa fa-tags"></i>OS</a></li>
              </ul>
              </div>
              <!-- END BLOG TAGS -->
          </div>
          <!-- END RIGHT SIDEBAR -->            
          </div>
      </div>
      </div>
      <!-- END CONTENT -->
  </div>
  <!-- END SIDEBAR & CONTENT -->
  </div>
</div>
<script>
    function myFunction() {
      alert('Trả thành công');
    }
</script>
{% endblock %}