<script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
{% extends "layout/base.html" %}
{% block content %}
<div class="main">
  <div class="container">
    <!-- BEGIN SIDEBAR & CONTENT -->
    <div class="row margin-bottom-40">
      <!-- BEGIN CONTENT -->
      <div class="col-md-12 col-sm-12">
        {%if ve %}
        <h1>Danh Sách Vé Đã Mua</h1>
        <div class="goods-page">
          <div class="goods-data clearfix">
            <div class="table-wrapper-responsive">
            <table summary="Shopping cart">
              <tr>
                <th class="goods-page-image">Ảnh khách hàng</th>
                <th class="goods-page-quantity">Thông tin khách hàng</th>
                <th class="goods-page-ref-no">Chuyến Bay</th>
                <th class="goods-page-description">Hạng vé</th>
                <th class="goods-page-price">Giá Vé</th>
                <th class="goods-page-total" colspan="2">Thời gian khởi hành</th>
              </tr>
              {% for v in ve %}
              <tr>
                <td class="goods-page-image">
                  <btn onclick="checkVe('{{v.id}}-{{v.khachhang.SDT}}-{{v.khachhang.id}}', 0)"><img src="{{ url_for('static', filename = 'styles/assets/frontend/pages/img/products/model4.jpg') }}" alt="Ảnh đại diện"></btn>
                </td>
                <td class="goods-page-description">
                  <h3><a href="#">{{ current_user.TenNguoiDung }}</a></h3>
                  <p><strong>CMND :</strong>{{ v.khachhang.CMND }}</p>
                  <em>SDT: {{ v.khachhang.SDT }}</em>
                </td>
                <td class="goods-page-ref-no">
                  {{v.chuyenbay.sanbay_di.DiaChi}} - {{v.chuyenbay.sanbay_den.DiaChi}}
                </td>
                <td class="goods-page-quantity">
                  <strong>{{v.HangVe}}</strong>
                </td>
                <td class="goods-page-price">
                  <strong><span>$</span>60</strong>
                </td>
                <td class="goods-page-total">
                  <strong>{{v.chuyenbay.ThoiGianXuatPhat}}</strong>
                </td>
                <td class="del-goods-col">
                  <btn class="del-goods" onclick="deleteVe('{{v.id}}-{{v.khachhang.SDT}}-{{v.khachhang.id}}')">&nbsp;</btn>
                </td>
              </tr>
              {% endfor %}
              {% else %}
              <tr class="goods-page-ref-no">
                Bạn chưa mua vé nào!!
              </tr>
              {% endif %} 
            </table>
            
            </div>
           
            <hr class="blog-post-sep">
              <ul class="pagination">
              <li><a href="#">Prev</a></li>
              <li><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li class="active"><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">5</a></li>
              <li><a href="#">Next</a></li>
              </ul>   
               
            <!-- <div class="shopping-total">
              <ul>
                <li>
                  <em>Sub total</em>
                  <strong class="price"><span>$</span>47.00</strong>
                </li>
                <li>
                  <em>Shipping cost</em>
                  <strong class="price"><span>$</span>3.00</strong>
                </li>
                <li class="shopping-total-price">
                  <em>Total</em>
                  <strong class="price"><span>$</span>50.00</strong>
                </li>
              </ul>
            </div>
          </div>
           <button class="btn btn-default" type="submit">Continue shopping <i class="fa fa-shopping-cart"></i></button>
          <button class="btn btn-primary" type="submit">Checkout <i class="fa fa-check"></i></button> --> -->
        </div>
        
      </div>
      
      <!-- END CONTENT -->
    </div>
    <!-- END SIDEBAR & CONTENT -->
  </div>
</div>
<script>
  function checkVe(ve, action) {
    fetch("/api/check-ve/"+ve, {
        method: "post"
    }).then(function(res) {
        return res.json()
    }).then(function(data) {
        if (data.error_code == 404)
            alert("Vé đã quá thời gian trả không tồn tại hoặc đã quá thời gian đổi trả!")
        else
        {
            if (action==0)
            {
                $("doi-ve").append(<form role="form" class="form-horizontal form-without-legend">
            
                <div class="form-group">
                  <label class="col-md-2 control-label">Hạng Vé<span class="require">*</span></label>
                  <div class="col-md-8">
                    <select class="form-control" required>
                      <option>--- Chọn Một Hạng Vé ---</option>
                      <option>Option 1</option>
                      <option>Option 2</option>
                    </select>
                  </div>
                </div>
    
                <div class="form-group">
                  <label class="col-md-2 control-label">Sân Bay Đi: <span class="require">*</span></label>
                  <div class="col-md-8">
                    <select class="form-control" required>
                      <option>--- Chọn một sân bay ---</option>
                      <option>Option 1</option>
                      <option>Option 2</option>
                    </select>
                  </div>
                </div>
    
                <div class="form-group">
                  <label class="col-md-2 control-label">Sân Bay Đến: <span class="require">*</span></label>
                  <div class="col-md-8">
                    <select class="form-control" required>
                      <option>--- Chọn một sân bay ---</option>
                      <option>Option 1</option>
                      <option>Option 2</option>
                    </select>
                  </div>
                </div>
                
                <div class="form-group">
                  <label class="col-lg-2 control-label" for="email">Thời Gian Xuất Phát: </label>
                  <div class="col-lg-8">
                    <input type="datetime-local" id="tgxuatphat" name = "tgxuatphat" class="form-control" disabled>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-lg-2 control-label">Thời Gian Bay: </label>
                  <div class="col-lg-8">
                    <input type="number" id="tgbay" name="tgbay" class="form-control" disabled>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-8 col-md-offset-2 padding-left-0 padding-top-20">
                    <button class="btn btn-primary" type="submit">Xác Nhận</button>
                    <button type="reset" class="btn btn-default">Nhập Lại</button>
                  </div>
                </div>
              </form>)
            } 
            else
                deleteVe(ve)
        }
    })
}
</script>
{% endblock %}