{% extends "layout/base.html" %}
{% block content %}
<div class="main">
  <div class="container">
    <!-- BEGIN SIDEBAR & CONTENT -->
    <div class="row margin-bottom-40">
      <!-- BEGIN CONTENT -->
      <div class="col-md-12 col-sm-12">
        {%if ve %}
        <h1>Danh Sách Vé Đã Mua</h1>
        <div class="goods-page">
          <div class="goods-data clearfix">
            <div class="table-wrapper-responsive">
            <table summary="Shopping cart">
              <tr>
                <th class="goods-page-image">Ảnh khách hàng</th>
                <th class="goods-page-quantity">Thông tin khách hàng</th>
                <th class="goods-page-ref-no">Chuyến Bay</th>
                <th class="goods-page-description">Hạng vé</th>
                <th class="goods-page-price">Giá Vé</th>
                <th class="goods-page-ref-no">Thời gian khởi hành</th>
                <th class="goods-page-ref-no">Thời gian đặt vé</th>

              </tr>
              {% for v in ve %}
              <tr>
                <td class="goods-page-image">
                  <btn><img src="{{ v.HinhAnh }}" alt="Ảnh đại diện"></btn>
                </td>
                <td class="goods-page-description">
                  <h3><a href="#">{{ v.khachhang.HoTenKH }}</a></h3>
                  <p><strong>CMND :</strong>{{ v.khachhang.CMND }}</p>
                  <em>SDT: {{ v.khachhang.SDT }}</em>
                </td>
                <td class="goods-page-ref-no">
                  {{v.chuyenbay.sanbay_di.DiaChi}} - {{v.chuyenbay.sanbay_den.DiaChi}}
                </td>
                <td class="goods-page-quantity">
                  <strong>{{v.HangVe}}</strong>
                </td>
                <td class="goods-page-price">
                  
                  {% for gia in v.chuyenbay.banggia %}
                  {% if gia.HangVe == v.HangVe %}
                    <strong><span>{{ gia.GiaVe }} VND</span></strong>
                  {% endif %}
                  {% endfor %}
                </td>
                <td class="goods-page-ref-no">
                  <strong>{{v.chuyenbay.ThoiGianXuatPhat}}</strong>
                </td>
                <td class="goods-page-ref-no">
                  <strong>{{v.ThoiGianDatVe}}</strong>
                </td>
                <td class="del-goods-col">
                  <a class="btn btn-primary" href="/doi-tra-ve?ve={{v.id}}-{{v.khachhang.SDT}}-{{v.khachhang.id}}"><p class="text-white">Đổi</p></a>
                </td>
                <td class="del-goods-col">
                  <button class="btn btn-primary" onclick="checkVe('{{v.id}}-{{v.khachhang.SDT}}-{{v.khachhang.id}}', 1, null, null)">Trả</button>
                </td>
              </tr>
              {% endfor %}
              {% else %}
              <tr class="goods-page-ref-no">
                Bạn chưa mua vé nào!!
              </tr>
              {% endif %} 
            </table>
            
            </div>
  
               
            
        </div>
        
      </div>
      
      <!-- END CONTENT -->
    </div>
    <!-- END SIDEBAR & CONTENT -->
  </div>
</div>
<script>
</script>
{% endblock %}