{% extends "layout/base.html" %}
{% block content %}
<div class="main">
  <div class="container">
    <!-- BEGIN SIDEBAR & CONTENT -->
    <div class="row margin-bottom-40">
      <!-- BEGIN CONTENT -->
      <div class="col-md-12 col-sm-12">
        <h1>Danh Sách Vé</h1>
        <div class="col-md-12 col-sm-12">
          <h3 class = "text-center">TÌm Kiếm Vé</h3>
          <form role="form" class="form-horizontal form-without-legend">
              <div class="form-group col-md-5">
                  <label class="col-lg-4 control-label padding-right-0 padding-left-0">Tên Khách Hàng: </label>
                  <div class="col-lg-8">
                      <input type="text" id="hoten" name = "hoten" class="form-control">
                  </div>
              </div>
              <div class="form-group col-md-3">
                  <label class="col-lg-4 control-label padding-right-0 padding-left-0">Nơi Đi: </label>
                  <div class="col-lg-8">
                      <input type="text" id="noidi" name = "noidi" class="form-control">
                  </div>
              </div>
              <div class="form-group col-md-3">
                <label class="col-lg-4 control-label padding-right-0 padding-left-0">Nơi Đến: </label>
                <div class="col-lg-8">
                    <input type="text" id="noiden" name = "noiden" class="form-control">
                </div>
              </div>
              <button class="btn btn-primary" type="submit">Tìm Kiếm</button>
              <button type="reset" class="btn btn-default">Nhập Lại</button>
          </form>
        </div>




        <div class="goods-page">
          <div class="goods-data clearfix">
            <div class="table-wrapper-responsive">
            <table summary="Shopping cart">
              <tr>
                <th class="goods-page-image">Ảnh khách hàng</th>
                <th class="goods-page-quantity">Thông tin khách hàng</th>
                <th class="goods-page-ref-no">Chuyến Bay</th>
                <th class="goods-page-description">Hạng vé</th>
                <th class="goods-page-price">Giá Vé</th>
                <th class="goods-page-total" colspan="2">Thời gian khởi hành</th>
              </tr>
              
              <tr>
                <td class="goods-page-image">
                  <a href="/doi-ve"><img src="{{ url_for('static', filename = 'styles/assets/frontend/pages/img/products/model4.jpg') }}" alt="Berry Lace Dress"></a>
                </td>
                <td class="goods-page-description">
                  <h3><a href="#">Đầy đủ họ tên</a></h3>
                  <p><strong>CMND :</strong> 123456</p>
                  <em>More info is here</em>
                </td>
                <td class="goods-page-ref-no">
                  Hà Nội - Hồ Chí Minh
                </td>
                <td class="goods-page-quantity">
                  <strong>Thường</strong>
                </td>
                <td class="goods-page-price">
                  <strong><span>$</span>47.00</strong>
                </td>
                <td class="goods-page-total">
                  <strong>10:00AM</strong>
                </td>
                <td class="del-goods-col">
                  <a class="del-goods" href="/tra-ve">&nbsp;</a>
                </td>
              </tr>
            </table>
            </div>

            <hr class="blog-post-sep">
              <ul class="pagination">
              <li><a href="#">Prev</a></li>
              <li><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li class="active"><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">5</a></li>
              <li><a href="#">Next</a></li>
              </ul>     
            <!-- <div class="shopping-total">
              <ul>
                <li>
                  <em>Sub total</em>
                  <strong class="price"><span>$</span>47.00</strong>
                </li>
                <li>
                  <em>Shipping cost</em>
                  <strong class="price"><span>$</span>3.00</strong>
                </li>
                <li class="shopping-total-price">
                  <em>Total</em>
                  <strong class="price"><span>$</span>50.00</strong>
                </li>
              </ul>
            </div>
          </div>
           <button class="btn btn-default" type="submit">Continue shopping <i class="fa fa-shopping-cart"></i></button>
          <button class="btn btn-primary" type="submit">Checkout <i class="fa fa-check"></i></button> --> -->
        </div>
      </div>
      <!-- END CONTENT -->
    </div>
    <!-- END SIDEBAR & CONTENT -->
  </div>
</div>
{% endblock %}