{% extends "layout/base.html" %}
{% block content %}
<div class="main">
  <div class="container">
    <!-- BEGIN SIDEBAR & CONTENT -->
    <div class="row margin-bottom-40">
      <!-- BEGIN CONTENT -->
      <div class="col-md-12 col-sm-12">
        <h1>Danh sách khách hàng</h1>
        <div class="col-md-12 col-sm-12">
          <h3 class = "text-center">TÌm Kiếm Khách Hàng</h3>
          <form role="form" class="form-horizontal form-without-legend">
              <div class="form-group col-md-4">
                  <label class="col-lg-4 control-label padding-right-0 padding-left-0">Họ Tên: </label>
                  <div class="col-lg-8">
                      <input type="text" id="hoten" name = "hoten" class="form-control">
                  </div>
              </div>
              <div class="form-group col-md-4">
                  <label class="col-lg-4 control-label padding-right-0 padding-left-0">Năm Sinh: </label>
                  <div class="col-lg-8">
                      <input type="number" id="namsinh" name = "namsinh" class="form-control">
                  </div>
              </div>
              <div class="form-group col-md-4">
                <label class="col-lg-4 control-label padding-right-0 padding-left-0">Số Điện thoại: </label>
                <div class="col-lg-8">
                    <input type="number" id="sodienthoai" name = "sodienthoai" class="form-control">
                </div>
              </div>

              <div class="form-group col-md-4">
                <label class="col-lg-4 control-label padding-left-0 padding-right-0">CMND: </label>
                <div class="col-lg-8">
                    <input type="number" id="cmnd" name = "cmnd" class="form-control">
                </div>
              </div>
              <div class="form-group col-md-4">
                <label class="col-lg-4 control-label padding-left-0 padding-right-0">Email: </label>
                <div class="col-lg-8">
                    <input type="email" id="email" name = "email" class="form-control">
                </div>
              </div>
              <div class="form-group col-md-4">
                  <button class="btn btn-primary" style="margin-left: 30%;" type="submit">Tìm Kiếm</button>
                  <button type="reset" class="btn btn-default">Nhập Lại</button>
              </div>
          </form>
        </div>

        <div class="goods-page">
          <div class="goods-data clearfix">
            <div class="table-wrapper-responsive">
            <table summary="Shopping cart">
              <tr>
                <th class="goods-page-image">Hình ảnh</th>
                <th class="goods-page-description">Họ Tên</th>
                <th class="goods-page-ref-no">Năm sinh</th>
                <th class="goods-page-ref-no">Số điện thoại</th>
                <th class="goods-page-ref-no">CMND</th>
                <th class="goods-page-ref-no">Email</th>
                
              </tr>
              <tr>
                <td class="goods-page-image">
                  <a href="#"><img src="{{ url_for('static', filename = 'styles/assets/frontend/pages/img/products/model3.jpg') }}" alt="Berry Lace Dress"></a>
                </td>
                <td class="goods-page-description">
                  <h3><a href="#">Họ Tên</a></h3>
                  <p><strong>Giới tính</strong> Nam</p>
              
                </td>
                <td class="goods-page-ref-no">
                  <strong style = "font-size: large;">2001</strong>
                </td>
                <td class="goods-page-quantity">
                  <strong style = "font-size: large;">123456789</strong>
                </td>
                <td class="goods-page-price">
                  <strong>123456789</strong>
                </td>
                <td class="goods-page-total">
                  <strong>myemail@gmail.com</strong>
                </td>
                <td class="del-goods-col">
                  <a class="del-goods" href="#">&nbsp;</a>
                </td>
              </tr>
              
            </table>
            </div>
              
            <hr class="blog-post-sep">
              <ul class="pagination">
              <li><a href="#">Prev</a></li>
              <li><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li class="active"><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">5</a></li>
              <li><a href="#">Next</a></li>
              </ul>     
            <!-- <div class="shopping-total">
              <ul>
                <li>
                  <em>Sub total</em>
                  <strong class="price"><span>$</span>47.00</strong>
                </li>
                <li>
                  <em>Shipping cost</em>
                  <strong class="price"><span>$</span>3.00</strong>
                </li>
                <li class="shopping-total-price">
                  <em>Total</em>
                  <strong class="price"><span>$</span>50.00</strong>
                </li>
              </ul>
            </div>
          </div>
          <button class="btn btn-default" type="submit">Continue shopping <i class="fa fa-shopping-cart"></i></button>
          <button class="btn btn-primary" type="submit">Checkout <i class="fa fa-check"></i></button> -->
        </div>
      </div>
      <!-- END CONTENT -->
    </div>
    <!-- END SIDEBAR & CONTENT -->

    <!-- BEGIN SIMILAR PRODUCTS -->
    <!-- END SIMILAR PRODUCTS -->
  </div>
</div>
{% endblock %}