<h1 class ="text-center text-danger">ĐĂNG NHẬP</h1>
<form action="/login" method="post">
    <div class="form-group">
      <label for="username">Tên Đăng Nhập:</label>
      <input type="text" name = "username" class="form-control" placeholder="Nhập username" id="username">
    </div>
    <div class="form-group">
      <label for="pwd">Mật Khẩu:</label>
      <input type="password" name = "password" class="form-control" placeholder="Nhập password" id="password">
    </div>
    <button type="Login" class="btn btn-primary">Đăng Nhập</button>
  </form>